* {
    scrollbar-width: auto;
    scrollbar-color: #ef990a #1c1d1d;
    scroll-behavior: smooth;
}
body {
    background-color: #1c1d1d;
    color: #ef990a;
    margin: 0;
}

/* Top-header start */

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: #ff9800;
}
.left-side{
    display: flex;
    width: 50%;
}
.right-side{
    display: flex;
    
}

.left-side marquee{
    width: 100%;
}
.icon {
    gap: 20px;
    float: right;
    color: #ffa500;
    font-size: 24px;
    margin-right: 20px;
}
.navbar-icons  {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 5px;
}

.navbar-toggle {
    display: none;
    font-size: 24px;
    color: #ff9800;
    background: none;
    border: none;
}

@media (max-width: 768px) {
    .navbar-icons {
        
        display: none;
    }
    .navbar-toggle {
        display: block;
    }
} 

/* Top-header ended */


/* Header Start */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    /* background-color: #222; */
}

.i {
    background-color: #F6A623;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: white;
    font-size: 24px;
}


.title {
    align-items: center;
}

.title h1 {
    margin: 0;
    font-size: 36px;
    color: #ffa500;
}

.title span {
    font-size: 14px;
}

.appointment a {
    background-color: #222;
    color: #ffa500;
    border: 1px solid #ffa500;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.appointment a:hover {
    background-color: #ffa500;
    color: #222;
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;
        
        text-align: center;
    }

    .top-logo, .appointment {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .title img {
        width: 100%;
        height: auto;
        
    }

    .appointment a {
        float: right;
        font-size: 12px;
        padding: 8px 16px;
    }
}

/* Header End */

/* Video section start */

.showcase{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.video-container{
    overflow: hidden;
}
.request-box{
    position: absolute;
    top: 90%;
    left: 80%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: rgba(247, 245, 245, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: 1s;
}
.request-box h2{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    color: black;
}
.request-box .user-box{
    position: relative;
}
.request-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 25px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
}
.request-box .user-box select{
    width: 100%;
    padding: 10px 0;
    font-size: 25px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
}
.request-box .user-box label{
    
    padding: 10px 0;
    font-size: 23px;
    color: darkorange;
    pointer-events: none;
    transition: .5s;
}
input::placeholder{
    color: #000;
}
.button-container {
    text-align: center;
}

.button {
    background-color: #e59500; /* Orange color */
    color: #fff; /* White text */
    border: none;
    padding: 15px 30px; /* Padding for larger hit area */
    font-size: 16px;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for 3D effect */
}

.button:hover {
    background-color: #d48300; /* Slightly darker on hover */
    transform: translateY(-10px); /* Slightly lift on hover */
}

.button:active {
    background-color: #bf6e00; /* Even darker when pressed */
    transform: translateY(10px); /* Slightly push down when pressed */
}

@media (max-width: 768px) {
    .request-box {
        position: initial!important;
        top: 0!important;
        left: 0!important;
        width: 100%!important;
        transform: none!important;
        padding: 80px 40px 40px 40px!important;
    }

}

/* video section end  */

/* about neha section start  */

#Estique-Clinic {
    width: 85%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#Estique-Clinic #left img {
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    margin-top: 70px;
}
.point{
    margin-left: 28px;
    font-size: 23px;
    margin-top: 3rem !important;
}
.setPoint{
    list-style: none;
    padding-left: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.about{
    margin: 30px;
    font-size: 1.3em;
    line-height: 1.5;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
}

#Estique-Clinic #right a {
    cursor: pointer;
    margin: 40px;
    border-color: #ef990a;
    border-radius: 3px;
    color: #ef990a;
    background-color: #1c1d1d;
    padding: 1rem !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: bolder;
    font-size: 17px;
    height: auto;
    width: 250px;
}

@media (max-width: 868px) {
    #Estique-Clinic{
        flex-direction: column;
    }
    #Estique-Clinic img{
        max-width: 100%;
        max-height: 300px;
    }
    #Estique-Clinic-Box-img{
        flex: none; 
        width: 100%;
        height: auto;
    }
  }

/* about neha section end */

/* value section start  */
.counter-state{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.stats-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
}

.stat-item {
  text-align: center;
  margin: 20px;
  flex: 1 1 300px;
}

.rev-icon {
  font-size: 3em;
  margin-bottom: 10px;
}

.number {
  font-size: 2em;
  font-weight: bold;
}

.description {
  font-size: 1.8em;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
    align-items: center;
  }

  .stat-item {
    margin: 10px 0;
  }
}
/* value section ended */

/* Services Start */
#services {
    padding: 20px;
}
.const{
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

#services .service-box {
    width: 275px;
    margin: 10px;
    height: 380px;
    padding: 2em 1.5em;
    background: linear-gradient(#2e2e2e 50%, #ef990a 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    margin-top: 30px;
}

#services .service-box img {
    max-width: 100%;
    height: 280px;
    vertical-align: middle;
    border-radius: 10px;
}

#services .service-box p {
    font-family: "Josefin Sans", sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 23px;
}

#services .service-box a {
    background-color: #ef990a;
    color: #fff;
    transition: transform 0.3s ease;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    height: 40px;
    width: 290px;
    border-radius: 7px;
    border: none;
    font-size: 18px;
}

a:not(:disabled) {
    cursor: pointer;
}
/* Services End */

/* Clinic Start  */

#Estique-Clinic {
    width: 85%;
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

#Estique-Clinic #left img {
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 600px;
    height: 600px;
    border-radius: 10px;
}
#Estique-Clinic #right h2 {
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center !important;
    margin: 20px auto;
    margin-bottom: 45px;
}
#Estique-Clinic #right p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    margin: 20px 40px;
    line-height: 1.6;
}
#Estique-Clinic #right span {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 3.0;
    font-size: 20px;
    margin: 0px 75px;
}
#Estique-Clinic #right a {
    cursor: pointer;
    margin: 40px;
    border-color: #ef990a;
    border-radius: 3px;
    color: #ef990a;
    background-color: #1c1d1d;
    padding: 1rem !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: bolder;
    font-size: 17px;
    height: auto;
    width: 250px;
    border: 2px solid;
}
@media (max-width: 868px) {
    #Estique-Clinic{
        flex-direction: column;
    }
    #Estique-Clinic-Box-img{
        width: 100%;
    }
    #Estique-Clinic-Box{
        flex: none; /* Reset flex-grow to none */
        width: 100%;
        height: auto;
    }
  }
/* Clinic Ended  */

/* Why choose us Start */
.why-choose-us {
    text-align: center;
    padding: 50px 20px;
}

.why-choose-us h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffac33;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.icon img {
    width: 50px;
    height: 50px;
}

.card h3 {
    font-size: 1.5em;
    margin-top: 15px;
    color: #ffac33;
}

.card p {
    font-size: 1em;
    margin: 15px 0;
}

.card a {
    background-color: #ffac33;
    border: none;
    padding: 10px 20px;
    color: #1a1a1a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.card a:hover {
    background-color: #ff9900;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }
}
/* Why choose us Ended */

/* After & Before Start  */
.ab-set{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    max-width: 1200px;
    width: 95%;
}
.slider-wrapper .img-list{
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
    /* display: flex; */
}
.slider-wrapper .img-list::-webkit-scrollbar{
    display: none;
}
.slider-wrapper .img-list .img-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
}
/* After & Before Ended  */

/* FAQ Start  */
/* Container styling */
.faq-con{
    max-width: 1200px;
    width: 95%;
}
.faq-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.contact-form-container {
    background-color: #333;
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.contact-form-container h2 {
    color: #f4b400;
    margin-bottom: 20px;
    position: relative;
}

.contact-form-container h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #f4b400;
    margin: 10px auto 0;
}

/* Form styling */
.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #f4b400;
}

.form-group i {
    margin-right: 10px;
}

.form-group input,
.form-group select {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.form-group input::placeholder {
    color: #bbb;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border: 2px solid #f4b400;
}

.recaptcha {
    text-align: center;
    margin-bottom: 15px;
}

/* Submit button styling */
.submit-btn {
    background-color: #f4b400;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #e5a200;
}

/* Responsive styling */
@media (max-width: 500px) {
    .contact-form-container {
        padding: 5px;
        width: 95%;
        /* flex-direction: ; */
    }
    .form-group label {
        font-size: 0.9em;
    }
    .submit-btn {
        font-size: 1em;
        padding: 10px;
    }
}
/* contat end  */
.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* FAQ heading styling */
.faq-container h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #f4b400;
    position: relative;
}

.faq-container h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #f4b400;
    margin: 10px auto 0;
}

/* FAQ item styling */
.faq-item {
    margin-bottom: 10px;
    overflow: hidden;
}

.faq-question {
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #444;
    color: #f4b400;
    border: none;
    outline: none;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
}

.faq-question::after {
    content: "\25BC";
    font-size: 1em;
    position: absolute;
    right: 20px;
    transition: transform 0.3s ease;
}

.faq-question.active::after {
    transform: rotate(180deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #555;
    padding: 0 15px;
}

.faq-answer p {
    margin: 10px 0;
}

/* Responsive styling */
@media (max-width: 768px) {
    .faq-container {
        padding: 10px;
    }
    .faq-question {
        font-size: 1em;
    }
    .faq-answer p {
        font-size: 0.9em;
    }
}
/* FAQ Ended */


/* Footer start */
.uper {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 100px;
}



.uper p {
    font-weight: bold;
            font-size: 18px;
            font-family: 'Josefin Sans', sans-serif;
            color: white;
            margin-left: 20px;
            text-align: center;
}

/* Contact section styling */
.contact-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.location {
    text-align: center;
    margin: 10px;
}

.location iframe {
    border: 0;
    border-radius: 8px;
    width: 464px;
}

.location p {
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.footer-content p {
    margin: 5px;
    font-size: 16px;
}

.footer-content i {
    margin-right: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .location iframe {
        width: 100%;
        height: auto;
    }

    .location {
        width: 100%;
    }
}

/* Footer end */
/* fine Footer Start */
.footer-line{
    margin-top: 20px;
}
footer {
    background: linear-gradient(#f1cb9e, #ef990a); /* Orange color similar to the image */
    padding: 17px 0;
    text-align: center;
    color: black;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.footer-content span {
    margin: 0 5px;
}

.footer-content a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        font-size: 12px;
    }

    .footer-content span {
        margin: 5px 0;
    }
}
/* Footer Ended */